page-contactus {
    ion-title.title.title-md{
        float: left !important;
        margin-top: 2px;
    }
    a.home{
        float: right !important;
        color: #fff;
        margin-top:3px;
    }
}
