page-about {
    ion-title.title.title-md{
        float: left !important;
        margin-top: 2px;
    }
    a.home{
        float: right !important;
        color: #fff;
        margin-top:3px;
    }
}
p.text_bg {
    padding: 12px;
    color: #fff;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.14);
}